<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MY LIFE IS NOT A GAME</title>
    <meta
      name="description"
      content="Conway's game of life but in go and htmx"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width", initial-scale=1"/>
    <meta name="keywords" content="HTML, HTMX, Go" />
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div
      class="bg-gray-800 text-white hover:text-purple-500 p-4 justify-center"
    >
      Conway's Game of Life but in GO and HTMX
    </div>
    <div class="flex bg-gray-800 justify-center items-center min-h-screen">
      <div class="grid grid-cols-12 gap-0.5">
        {{range seq 144}}
        <div
          class="w-9 h-9 bg-gray-600 border border-gray-300 flex items-center justify-center"
          hx-post="/pickle"
          hx-swap="outerHTML"
        ></div>
        {{end}}
      </div>
    </div>

    <!-- Footer  -->
    <div class="bg-gray-800 text-white p-4 justify-center">
      <p>Conway's Game of Life but in GO and HTMX</p>
      <p>Made by DrKodak!</p>
    </div>
  </body>
</html>
